{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<p>About Page</p>
<p> Thank you for choosing the S.A.F.E HardHat!</p>
<p> The S.A.F.E HardHat serves as a safety mechanic that is both durable and wearable for the user.
    With the S.A.F.E HardHat there are multiple features that are compatible with it including, but not limited to: our app, our SOS signal
and our easy to use bluetooth transmitter which allows you to utilize our app even without WIFI! </p>
<p>The S.A.F.E sensor (Safe Air For Everyone) combines sensors and technology to analyze air quality throughout the Houston area. 
    Our goal is to implement a carbon monoxide, benzene, methane and hybrid sensor into one microcontroller.
    Data will then be outputted into an app and provide the user with an individualized report. 
    The user will have the option to alter their data time frame and access to specific EMS features depending on the chosen subscription. 
    Our goal with this project is to redefine OSHA standards regarding employee exposure on a jobsite, but also bring more awareness to emissions from certain processing plants. 
    There are a variety of cancers linked to overexposure of chemicals, our project could help reduce employee deaths related to job site chemical hazards. </p>
{% endblock %}
